body {
  font-family: Verdana, sans-serif;
  text-align: center;
}

h2 {
  visibility: hidden;
}

td {
  width: 70px;
  height: 70px;
  background-color: black;
  text-align: center;
}

.odd {
  background-color: white;
}

.even {
  background-color: gray;
}

img {
  height: 50px;
  margin: 0 auto;
  visibility: hidden;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
}